.mode{

 

    .add{ transition: .1s;

        opacity: 0;
        visibility: hidden;

         width:202vh;
         height: 100vh;
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.671);
        z-index: 1111;
        transform: scale(1.2);



                  .main{
            position: relative;
            padding: 70px 110px 110px 110px;
        
         .then{
              width: 35%;
              height: 400px;
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              
              margin: auto;


            p{
              padding-top: 10px;
              font-weight: bold;
              color: rgb(68, 66, 66);
              text-align: center;
            }
             hr{
                margin-bottom: 30px;
             }
            div{
                 padding:10px 30px;
                   label{
                       font-weight: bold;
                       font-size: 18px;
                    }
                    input{
                        margin-top: 5px;
                       width: 95%;
                       padding: 7px;
                       border-radius: 5px;
                       border: 2px solid gray;

                   }


            }
            .logoimg{
                font-size: 50px;
                margin-top: 10px;
                color: gray;
                display: block;
                margin: auto;
            }
            button{
                background-color: rgb(33, 87, 235);
                border: none;
                color: white;
                width: 50%;
                border-radius: 5px;
                padding: 2px;
                margin: 30px 95px;
                font-size: 20px;
            }
              


         }
         .bu{
            position: absolute;
            right: 2%;
            top: 2%;
            font-size: 35px;
             color: white;
          }



         }   
        
    }
    
    .add.show{                   transition: .2s;

        transform: scale(1);
        z-index: 1111;
         left: 0;
         opacity: 100;
         visibility: visible;


    

        

         }  


.side{








    padding: 17px 25px;
width: 17%;
height: 100vh;
position:fixed;
left: 0;
   
border-right: 1px solid rgba(207, 204, 204, 0.452);
.logo{
color: rgb(0, 0, 0);
font-family:cursive;
font-size: 25px;
font-weight: bold;

}


.logo_div{






 display: flex;
 flex-direction: column;


//  active
p.active{
border-radius: 20px;
transition: .3s;
padding: 5px 5px 10px 5px;
&:hover{
    background-color: rgba(179, 184, 184, 0.151);
}
margin: 7px 0;

   font-size: 27px;
    
   
   *{vertical-align: middle;}
   
   
   span{
       margin-left: 15px;
       font-size: 15px;
       font-weight: bold;
    }
    
    
}
// deactive
p{
    border-radius: 20px;
    transition: .3s;
    padding: 5px 5px 10px 5px;
    &:hover{
        background-color: rgba(179, 184, 184, 0.151);
    }
    margin: 7px 0;

       font-size: 24px;
        
       
       *{vertical-align: middle;}
       
       
       span{
           margin-left: 15px;
           font-size: 15px;
           font-weight: normal;
        }
        
        
    }
    .more{
        margin-top: 30px;
    }

}  
}









.body{




width: 40%;
margin-left: 27%;


  .story{

    padding: 40px;
    display: flex;
     justify-content: center;


       div{


      img{
        margin: 0 20px;
        width: 60px;
        border:  3px solid white ;
        outline:3px solid  #f12d1fc4;

        border-radius: 100%;
      }
      p{
        font-size: 14px;
        text-align: center;
        
        color: gray;
      }



       }


  }
   .post{
    box-sizing: border-box;
    width:90%;
    padding: 20px;
    
     border-bottom: 1px solid rgba(109, 100, 100, 0.466);

         .head{
            
              display: flex;
              align-items: center;
         



              img{
                height: 40px;
                width: 40px;
                outline: 2px solid salmon;
                border: 2px solid white;
                border-radius: 50%;
              }
              p{
                margin-left: 10px;
                margin-right: 310px;
                font-size: 17px;
               
                font-weight: bold;
              }
            .icons{
                font-size: 22px;
            }





         }
         .bodys{
            width: 100%;
             margin: 5px 0;            
            img{
                border-radius: 10px;
                width: 100%;

            }
         }
         .footer{

              .re{
                font-size: 22px;
                *{
                    margin: 0 10px;
                }
                .last{
                    margin-left:280px;
                }
              }
              .ti{
                font-size: 15px;
                font-weight: bold;
                
              }
              .co{
                input{
                    border: none;
                    width: 100%;
                    padding: 7px;
             
                }
              }


         }




   }

}



.info{
 width: 32%;
 height: 100vh;
position:fixed;
right: 0;
 top: 0;
        .icon{
         display: block;
         margin-left: auto;
         margin-right: 10px;
         margin-top: 10px;
        border-radius: 50%;
        padding: 10px;
        background-color: rgb(124, 120, 120);
        
            font-size: 22px;
        }
        .me{
            display: flex;
            align-items: center;
            margin:0 30px;

            img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-right: 20px;
            }
            div{
                 p{
                    font-size: 15px;
                    margin: 0;
                 }

            }
        }
        .sug{
          padding: 20px;
          font-size: 15px;
          font-weight: bold;
          color: gray;
        }
}






}



.mode.dark{
    background-color: black ;
    color: white;



    .logo{
        color: rgb(255, 255, 255);
        font-family:cursive;
        font-size: 25px;
        font-weight: bold;
        
        }

 .post *{ 
    background-color: black;
    color: white;
 }
  
}